@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;1,400;1,500;1,600&family=Montserrat:wght@300;400;800&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto+Slab:wght@200&family=Roboto:wght@100;300;400;900&family=Ubuntu:wght@300;400&display=swap');

*{
     margin: 0%;
     padding: 0%;
     font-family: "Roboto",sans-serif;
     box-sizing: border-box;
     text-decoration: none;
     scroll-behavior: smooth;
}